* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.main_services {
    background-color: #312f2fec;
}

/* main */

.services {
    background-color: #312f2fec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.services h1 {
    font-size: 4rem;
    background-color: rgb(59, 240, 23); 
    background-image: linear-gradient(to top, rgb(88, 168, 41) 0%, rgb(59, 240, 23) 100%);   /*adds linear gradient to background*/
    background-size: 100%;                                                                      /*100% makes sure all test will be covered*/
    background-clip: text;                                                                    /*will only render backgorund where text is*/
    -webkit-background-clip: text;          
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;                                                      /*will make gradient visible*/                    
    -moz-text-fill-color: transparent;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.service_card {                                                         
    margin: 1rem;
    height: 550px;
    width: 300px; 
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
  }

  .service_card img {
      height: 250px;
      width: 295px;
      border: 1px #fff ridge;
  }

  .service_card h2 {
      color: rgb(59, 240, 23);
      margin: 10px;
  }

  .service_card p {
      margin: 5px;
      line-height: 150%;
      font-family: sans-serif;
  }

  .service_card button {
      text-decoration: none;
      cursor: pointer;
      padding: 7px 10px;
      background: rgb(59, 240, 23);
      border: 1px solid #312f2fec;
      border-radius: 50em;
      margin-top: 20px;
      
  }

  .service_card button a { 
    color: #131313;
  }

  .service_card button a:hover {
      transition: all .25s;
      
  }

  .service_card button a:hover {
      color: #fff;
  }

  .service_card:nth-child(4) {
      height: 600px;
  }
  
  .service_card:nth-child(4) img {
      height: 200px;
  }
  
  .service_card:nth-child(5) {
      height: 500px;
    
  }
  
 
/* tablet */
  @media only screen and (min-width: 700px) {
     
      .service_card {
          height: 600px;
      }

      .service_card:nth-child(5) {
        height: 600px;
      
    }

      .service_card button {
        position: absolute;
        right: 50px;
        top: 530px;
    }
    
  }

  /* desktop */
  @media only screen and (min-width: 1100px) {
    .services_cotainer {  
        display: flex;
        flex-direction: row;
   }  
    
    .services h1 {
          margin-bottom: 50px;
          margin-top: 50px;
          font-size: 5rem;
      }
    
      .service_card {
          width: 500px;
      }

      .service_card img {
        height: 250px;
        width: 350px;
    }

      .service_card p {
          font-size: 1.25rem;
      }

      .service_card h2 {
        color: rgb(59, 240, 23);
        margin: 10px;
    }
  }