* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
 background: #131313;
 font-family: sans-serif;
 padding: 5px 20px; 
}

ul {
  list-style-type: none;  /*takes out bullet points */
}

a {
  color: rgb(59, 240, 23);
  text-decoration: none;  /* takes out undeline */ 
}

a:hover {
  text-decoration: underline; /*when hovered over links, it will underline */
}

.menu li {
  font-size: 16px;
  padding: 15px 5px; /*adding space between links */
}

.menu li a {
  display:block;  /*puts all of list items in block formation */
}

.logo a {
  font-size: 1.5rem; /* changes font of logo */
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/*mobile menu */
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*justify content adjust items going left to right */
  align-items: center;    /* align items adjust items up and down */
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}




.toggle {
  cursor: pointer;
}

.bars {                         /*creates middle bar for hamburger */
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before, .bars::after { /*creates top and bottom bars for hamburger */
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {    /*moves top and bottom hanguger bars */
  top: 5px;
}

.bars::after {
  top: -5px;
}

/*tablet menu */
@media only screen and (min-width: 600px) {
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .item.button {              /*shows login and signup button */
      width: auto;
      order: 1;
      display: block;    
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {              /*decorate buttons */
      text-decoration: none;
      padding: 7px 15px;
      background: yellow;
      border: 1px solid #fff;
      border-radius: 50em;
  }
  .button.secondary a{       /*leaves signup button transparent*/
      background: transparent;
  }
  .button a:hover {           /*hover animation over login and sign up */
      transition: all .25s;
  }
  .button:not(.secondary) a:hover {      /*details for hover animation */
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: rgb(151, 7, 7)
  }

}
/*desktop */
@media only screen and (min-width: 1000px) {
  .item {
      display: block;    /*has links show back up becasue hidden in mobile */
      width: auto;    /*gives them a relavtive width and aligns them up on tha navbar instead of taking up a whole line themselves*/
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

